{
  "env": {
    "test_coverage": {
          "plugins": [
            ["istanbul", {"exclude": ["test/*.js", "features/**/*.js"]}]
          ]
    },
  },
  "presets": ["flow"],
  "sourceMaps": "inline"
}
