{
  "semi": false,
  "proseWrap": "always",
  "printWidth": 120,
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": "*.md",
      "options": {
        "printWidth": 80
      }
    }
  ]
}
